* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    background: none;
    color: white;
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

body {
    height: 100vh;
    background: url("https://live.staticflickr.com/65535/53032767650_1c0999034c_b.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    animation: changeBackground ease-in-out 30s infinite;
}

main::before, main::after {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    width: 300px;
    left: calc(50% - 150px);
    cursor: pointer;
}

main::before {
    content: "Starry Night in the Red Valley";
    animation: changeTitle ease-in-out 30s infinite;
    bottom: 90px;
}

main::after {
    content: "by Mengzhonghua";
    animation: changeAuthor ease-in-out 30s infinite;
    bottom: 70px;
}

@keyframes changeBackground {
    0%, 100% {
        background-image: url("https://live.staticflickr.com/65535/53032767650_1c0999034c_b.jpg");
    }
    20% {
        background-image: url("https://live.staticflickr.com/65535/53033018344_bf6ef7e1b6_o.jpg");
    }
    40% {
        background-image: url("https://live.staticflickr.com/65535/53031159865_8b6abea9c6_b.jpg");
    }
    60% {
        background-image: url("https://live.staticflickr.com/65535/53032543487_d1e24c0173_b.jpg");
    }
    80% {
        background-image: url("https://live.staticflickr.com/65535/53033059399_b3b2cc0f86_b.jpg");
    }
}

@keyframes changeTitle {
    0%, 100% {
        content: "Starry Night in the Red Valley";
    }
    20% {
        content: "White Foam (EXPLORED)"
    }
    40% {
        content: "Inspiration"
    }
    60% {
        content: "Baumbrücke im mystischen Wald"
    }
    80% {
        content: "So Speaks the Sea"
    }
}

@keyframes changeAuthor {

    0%,
    100% {
        content: "by Mengzhonghua";
    }

    20% {
        content: "by Chung Hu"
    }

    40% {
        content: "by Ian Haycox"
    }

    60% {
        content: "by Michael Januschkowetz"
    }

    80% {
        content: "by Sarag Shepherd"
    }
}

.button {
    padding: 5px 10px;
    text-align: center;
    min-width: 100px;
}

.button.white {
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 3px;
}

header {
    position: absolute;
    top: 0;
    height: 64px;
    width: calc(100% - 48px);
    background-color: rgba(0, 0, 0, 0.506);
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.search {
    background-color: rgba(255, 255, 255, 0.909);
    padding: 6px 0px 6px 10px;
    width: 100%;
    margin: 0 100px;
    font-size: 14px;
    color:rgba(0, 0, 0, 0.506)
}

.search i {
    padding: 2px 10px 2px 2px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

h2 .blue {
    color:cornflowerblue
}

h2 .pink {
    color: deeppink;
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 48px);
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 56px;
    margin: 5px;
}

h3 {
    font-size: 26px;
    font-weight: 400;
    margin: 20px 0px 50px 0px;
}

main .button {
    font-size: 24px;
    height: 64px;
    padding: 0px 20px;
}

footer {
    background-color: black;
    width: 100vw;
    padding: 16px 0;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

footer a, footer p, footer i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}   

footer p {
    overflow: hidden;
    max-width: 15%;
    max-height: 20px;
}

.lang {
    margin-left: 8px;
    
}